*,*:before,*:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

body{
    background-color: #000;
}

.wrapper{
    width: 100%;
    min-height: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content:center;
    align-items: center;
}

.wave-btn {
    width: 280px;
    height: 60px;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 0 0 10px 10px;
    transition: all 0.8s ease 0s;
    text-decoration: none;
}

.wave-btn__text {

}

.wave-btn__waves {

}