*,*:before,*:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

body {
    background-color: #000;
}

.wrapper{
    width: 100%;
    min-height: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content:center;
    align-items: center;
}

.wave-btn {
    position: relative;
    width: 280px;
    height: 60px;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 0 0 10px 10px;
    transition: all 0.8s ease 0s;
    text-decoration: none;
}

.wave-btn__text {
    font-family: Arial;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 8px;
    position: relative;
    z-index: 1;
}

.wave-btn__waves {
    position: absolute;
    width: 280px;
    height: 280px;
    background-color: #4973ff;
    box-shadow: inset 0 0 50px rgba(0,0,0,0.5);
}

.wave-btn__waves:after,
.wave-btn__waves:before {
    content: '';
    position: absolute;
    top:0;
    left: 50%;
    height: 250%;
    width: 250%;
}