html, body {
    height: 100%;
}

.wrapper {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-family: Arial, sans-serif;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.button__text {

}